<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="project-info-box mt-0">
                    <h5><%=product.name%></h5>
                    <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est. Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.</p>
                </div><!-- / project-info-box -->
    
                <div class="project-info-box">
                    <p><b>Client:</b> CUPCAKE CO</p>
                    <p><b>Date:</b> 14.02.2020</p>
                    <p class="mb-0"><b>Price:</b><%=product.price%></p>
                </div><!-- / project-info-box -->
    
            </div><!-- / column -->
    
            <div class="col-md-5">
                <img src="<%=product.image%>" alt="project-image" class="rounded">
                <div class="project-info-box">
                    <p><b>Categories:</b><%=product.type%></p>
                </div><!-- / project-info-box -->
            </div><!-- / column -->
        </div>
    </div>
</section>