<!-- Boostrap 4 -->
<section class="sign-in">
    <form>
        <div class="container">
                <div class="form-group">
                <h2 class="text-center">Login</h2>
                <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted text-center">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark btn-center">Login</button>
                </div>
                <br>
                <div class="text-center">
                    <p>You haven't registered yet? <a href="/signup">Register</a>.</p>
                </div>
        </div>
    </form>
</section>